:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*{
  padding:0;
  margin:0;
}

button{
  border:none;
  padding:10px 20px;
  background-color: rgba(60, 60, 209, 0.885);
  color:white;
  font-weight: 600;
  border-radius:5px;
  transition: 0.3s;
  cursor: pointer;
  display:flex;
  align-items: center;
  justify-content: center;
  gap:5px;
}
button:hover{
  transform: scale(1.1);
  background-color: rgba(72, 72, 210, 0.885);
}